* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../../public/img/background.jpg");
  background-size: cover;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #01015d;
  width: 33%;
  max-width: 400px;
  margin-left: 3%;
  height: 100%;
}

.linkStyle {
  margin: 20px;
  padding: 10px;
  border: 1.5px solid yellow;
  border-radius: 20px;
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}

a:hover {
  color: yellowgreen;
}

a.active {
  background-color: aquamarine;
  color: #01015d;
  cursor: default;
}

h2 {
  color: yellow;
  font-variant: small-caps;
}

.vote {
  padding-top: 20px;
  margin-bottom: -10px;
}

span {
  margin-right: 5px;
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.star {
  visibility: hidden;
  font-size: 50px;
  cursor: pointer;
  margin-left: 20px;
}
.star:before {
  content: "\2606";
  visibility: visible;
  color: yellow;
}
.star:checked:before {
  content: "\2605";
  color: yellow;
}
