* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #bcbcbc;
}

.App {
  text-align: center;
}

nav {
  position: fixed;
  width: 31%;
  height: 100%;
  background-color: #01015d;
  display: flex;
  flex-direction: column;
}

nav h3 {
  margin-top: 40px;
  font-size: 15pt;
}

h3 {
  color: aquamarine;
  margin-top: -12px;
  margin-bottom: 19px;
  font-size: 9pt;
  font-weight: normal;
  font-style: italic;
}

.linkStyle {
  margin: 20px;
  padding: 10px;
  border: 1.5px solid yellow;
  border-radius: 20px;
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}

a:hover {
  color: yellowgreen;
}

a.active {
  background-color: aquamarine;
  color: #01015d;
  cursor: default;
}

.main {
  margin-left: 31%;
  padding: 10px;
}

.mem {
  padding-bottom: 35px;
  padding-top: 5px;
  margin-bottom: 10px;
  background-color: black;
}

h2 {
  color: yellow;
  font-variant: small-caps;
}

.vote {
  padding-top: 20px;
  margin-bottom: -10px;
}

span {
  margin-right: 5px;
  font-weight: bold;
}
